*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    /*font-family: sans-serif;
    margin: 0;*/

    width: 100vw;
    height: 100vh;
    /*background-color: #eafdfc;*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;


}

/*-------- BARRA DE NAVEGACION - MENU --------*/
.header{
    background-color: #1B1B1B;
    text-align: right;
    color: #ffff;
    font-size: 1,5em;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header__logo{
    text-align: left;
}

.header__logo--img{
    width: 100px;
}

.menu__list{
    display: flex;
    flex-wrap: nowrap;
    /* gap: 20px;*/
    list-style-type: none;
    align-content: end;   
}

.menu__list--link{
    text-decoration: none;
    color: #ffff;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    transition: background-color 0.6s; border-radius: 0.6s;
}
.menu__list--link:hover{
    background-color: #F54703;
    color: #1B1B1B;
    border-radius: 10px;
}

/*-------- MAIN --------*/

/*BANNER CON JAVASCRIPT*/
/*Contenedor*/
.main{ /*body*/
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100vh; 
}
.main__banner2{ /*carrusel*/
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    
    
}
/*imagenes*/
.main__banner2--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

/*img*/
.main__banner2--carPhoto{
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.85);
    height: 576px;
    width: 1134px;
    border-radius: 15px;
    margin: 5px;
    object-fit: cover;
    filter: saturate(175%);
}

/*texto*/
.main__banner2--text{
    display: flex;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: rgba(63,106,138,0.21);
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.main__banner2--text h3{
    text-shadow: 0px 0px 15px #000;
    padding-top: 40px;
    color: white;
    font-weight: 300;
    font-size: 27px;
}

.main__banner2--text p{
    align-items: center;
    padding: 20px;
    color: #fff;
    font-size: 0px;
    font-weight: 300;
}

/*imagenes*/ /*texto*/
.main__banner2--container .main__banner2--text{
    width: 600px;
    height: 100px;
    transition: 1s;
}

.main__banner2--container:hover .main__banner2--text{
    transition: height 1s, trasnform 1s, background-color 1s;
    transform: translateY(-150px);
    height: 300px;
    background-color: rgba(63, 106, 138, 0.71);
}

.main__banner2--container:hover .main__banner2--text p{
    transition: font-size 0s .2s linear;
    font-size: 23px;
    font-weight: 300;
    text-shadow: 0px 0px 10px #000000;
}

.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p{
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}

.puntos .bold{
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #5E17EB;
}



/*BANNER INICIAL> borrar*/
.main__banner--image{
    /*width: 100vw;
    height:70vw;
    display: block;*/
    margin: 0 auto;
    
    width: 100%;
    height: 50vw;
}

.flex-container{
    display: flex;
    overflow: hidden;
    height: auto;
    margin: 3%;
    align-items: center;
    justify-content:start;
    /*flex-wrap: nowrap;*/
}

/*---- Galeria de carros ----*/
.main__galeria{
    border: 2px solid rgba(228, 33, 208, 0.94);
    gap: 20px;
    padding: 10px;
    
    justify-content: start;
    display: flex;
    overflow-x: auto;
}

.main__galeria--carContainer{
    border: 2px solid rgba(98, 33, 228, 0.94);
    display: flex;
    flex-direction: column;
    
    flex: 0 0 auto; /*Contenedor mantiene tamaño definido por min-width/height, sin crecer ni encogerse*/
    min-width: 15vw;
    /*width: calc((100% - 60px) / 4); /* Change the number of visible items */

}

.main__galeria--carImageContainer{
    border: 2px solid rgb(40, 237, 227);
    /*flex: 2;*/

}

.main__galeria--carInfoContainer{
    border: 2px solid rgb(45, 218, 45);
    padding: 10px;
    font-size: 12px;
    align-self: center;
    /*text-align: center;*/
    /*flex: 1;*/
}

.main__galeria--carInfoContainer h3, 
.main__galeria--carInfoContainer h5 {
    margin: 5px 10px;
}

.main__galeria--photo{
    height: 15vw;
    width: 100%;
}

/*---- Listado de marcas ----*/
.main__brands{
    padding-bottom: 20px;
}

.main__brands--photo{
    height: 10vw;
    margin: 5px;
}

/*-------- FOOTER --------*/

.footer{
    background-color: #333;
    text-align: right;
    color: #ffff;
    font-size: 1,5em;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer__socialmedia{
    display: flex;
    flex-wrap: nowrap;
    /* gap: 20px;*/
    list-style-type: none;
    align-content: end;
    flex:1;
}

.footer__socialmedia--imagesContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex:1;
}

.footer__socialmedia--titleContainer{
    flex:0.8;
}

.footer__socialmedia--image{
    width: 40px;
}

/*DETALLES DE CARROS*/
.main__galeria--link {
    color: #F54703;
    text-decoration: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.gallery-item {
    overflow:unset ;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.8s ease;
}

.gallery-item:hover img {
    transform: scale(2);
}
